$color-primary: blue;

* {
  box-sizing: border-box;
  width: 100%;
  font-size: 1em;
}

Navbar {
  color: red;
}

pre {
  text-align: center;
}

h1 {
  font-size: 20px;
}

div {
  text-align: center;
  background-color: green;
  height: 50%;
}

button {
  display: inline;
  width: 25%;
  text-align: center;
}

body {
  background: $color-primary;
  font-size: 16px;
}
